@page {
    size: A4;
    margin: 0;
  }

@media print {
    body {
      zoom: 100%;
      margin: 0;
      padding: 0;
      max-width: 210mm !important;
      width: 210mm !important;
      min-width: 210mm !important;
    }
    h1 {
        font-size: 150%;
    }
    h5 {
        font-size: 100%;
    }
    h2,h3,h4,h6,p,span,strong,li{
        font-size: 80%;
    }
    .top-bar, .buttom-bar{
        display: block;
        position: fixed;
        left:0px;
        right: 0px;
    }

    .top-bar {
        top: 0px;
        z-index: 0;
    }

    .buttom-bar{
        bottom: 0px;
    }

    .print {
        display: block !important;
        left:0px;
        right: 0px;
        margin-top: 40px;
    }
}



* h1,h2,h3,h4,h5,h6,p,span,strong,li{
    font-family: 'Roboto', sans-serif; 
}

hr {
    opacity: unset !important;
}

a {
    color: #2E527B !important;
    text-decoration: none !important;
}

.bg-primary {   
    background-color: #2E527B !important;
}

.text-primary{
    color: #2E527B !important;
}

.top-bar, .buttom-bar {
    height: 40px;
}

.big-line {
    position: relative;
    height: 4px;
}

.z-top {
    z-index: 9999;
}