@page {
    size: A4;
    margin: 0;
}

@media print {
    body {
        zoom: 100%;
        margin: 0;
        padding: 0;
        max-width: 210mm !important;
        width: 210mm !important;
        min-width: 210mm !important;
    }

    h1 {
        font-size: 150%;
    }

    h5 {
        font-size: 100%;
    }

    h2,
    h3,
    h4,
    h6,
    p,
    span,
    strong,
    li {
        font-size: 80%;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

   

    .page-header {
        display: unset !important;
    }

    .page-header-space-p {
        display: block !important;
    }

    .page-header {
        position: fixed;
        top: 0mm;
        left: 0;
        right: 0;
    }

    .page-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .top-bar {
        display: none;
    }
}

* h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
li {
    font-family: 'Roboto', sans-serif;
}

hr {
    opacity: unset !important;
}

a {
    color: #2E527B !important;
    text-decoration: none !important;
}

table {
    border-spacing: 0;
}

.bg-primary {
    background-color: #2E527B !important;
}

.text-primary {
    color: #2E527B !important;
}

.top-bar{
    height: 40px;
}

.big-line {
    position: relative;
    height: 4px;
}

.z-top {
    z-index: 9999;
}

.page-header,
.page-header-space {
    height: 40px;
}

.page-footer,
.page-footer-space {
    height: 40px;
}

.page {
    break-after: always;
}

